.clearfix:after{
    content: '';
    display:table;
    clear: both;
}

.myc-bg-blue{
    background-color: blue;
}
.myc-bg-darkblue{
    background-color: #2225AA;
}
.myc-bg-green{
    background-color: green;
}
main{
    text-align: center;
    color: white;
}
footer{
    text-align: center;
    color: white;
}
#jumbo img{
    max-width: 250px;
}
.img-container img{
    width: 100%;
    overflow: hidden;
    border-radius: 7px;
}
.img-container{
    margin: 10px 0;
}
.about-wrapper{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.contact-me-wrapper{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.data{
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid black;
    color: black;
    text-align: start;
}
#message{
    height: 150px;
}
#databtn{
    float: left;
}
.circle{
    width: 50px;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid white;
    margin: 0 10px;
}
#social{
    padding-top: 40px;
    padding-bottom: 40px;
}
#copyright{
    padding: 30px 0;
}
.star-line{
    display: inline-block;
    height: 3px;
    width: 10%;
    max-width: 111px;
    vertical-align: middle;
    margin: 0 15px;
    border-radius: 3px;
}